---
import Default from '@astrojs/starlight/components/Footer.astro';
import BaseLink from '@components/astro-extensions/BaseLink.astro';
import { 
	affilGame, 
	affilGameUrl, 
	affilDev, 
	affilDevUrl, 
	copyrightYears, 
	license, 
	licenseUrl, 
	usage, 
	org, 
	orgUrl 
} from '@config/footer';
---

<Default {...Astro.props} />

<footer class="copyright mt-0 sl-flex flex-col gap-2 text-xs text-[var(--sl-color-gray-3)]">	
	<p class="my-0 py-0">An <a href={orgUrl} class="text-inherit">{org}</a> project &copy; {copyrightYears}. Content licensed <a href={licenseUrl} class="text-inherit">{license}</a>. See <BaseLink href="site/usage/" class="text-inherit">{usage}</BaseLink>.</p>
	<p class="my-0 py-0"><em>Not affiliated in any way with <a href={affilGameUrl} class="text-inherit">{affilGame}</a> &copy; <a href={affilDevUrl} class="text-inherit">{affilDev}</a>. Images used for commentary only.</em></p>
</footer>
