---
import Default from '@astrojs/starlight/components/Footer.astro';
import BaseLink from '@components/BaseLink.astro';
import { 
	affilGame, 
	affilGameUrl, 
	affilDev, 
	affilDevUrl, 
	copyrightYears, 
	license, 
	licenseUrl, 
	usage, 
	org, 
	orgUrl 
} from '@config/footer';
---

<Default {...Astro.props}><slot /></Default>
<div>	
	<p class="!my-0 !py-0">
		<small
			>An <a href={orgUrl} class="text-inherit">{org}</a> project &copy; {copyrightYears}. Content licensed <a href={licenseUrl} class="text-inherit">{license}</a>. See <BaseLink href="site/usage/" class="text-inherit">{usage}</BaseLink>.</small>
	</p>
	<p class="!my-0 !py-0"><small><em>Not affiliated in any way with <a href={affilGameUrl} class="text-inherit">{affilGame}</a> &copy; <a href={affilDevUrl} class="text-inherit">{affilDev}</a>. Images used for commentary only.</em></small></p>
</div>
