---
/*
This file is part of the Apathetic Guide to IdleOn project.

Apathetic Tools © 2025 (https://github.com/apathetic-tools)

Licensing:
 - Text/docs: CC BY-NC-SA 4.0 (see LICENSE)
 - Code: AGPLv3 (see CODE-LICENSE)
 - Alternative licensing terms may be offered by the copyright holder.

SPDX-License-Identifier: CC-BY-NC-SA-4.0 AND AGPL-3.0-or-later

Note: Legends of IdleOn and related assets are © Lavaflame2.
This project is unaffiliated with or endorsed by Lavaflame2.
*/

import Default from '@astrojs/starlight/components/Footer.astro';
import {
	affilGame,
	affilGameUrl,
	affilDev,
	affilDevUrl,
	copyrightYears,
	license,
	licenseUrl,
	usage,
	org,
	orgUrl,
} from '@config/footer';

// figure out if we have pagination in the default footer
const { pagination } = Astro.locals.starlightRoute;
const { prev, next } = pagination;
const hasPagination = prev || next;
---

<Default {...Astro.props} />

<footer
	aria-label="Copyright"
	class={`sl-flex flex-col gap-2 text-sm text-[var(--sl-color-gray-3)] ${hasPagination ? 'mt-5' : 'mt-0'}`}
>
	<p class="my-0 py-0">
		<small
			>An <a href={orgUrl} class="text-inherit">{org}</a> project &copy; {copyrightYears}. Content
			licensed <a href={licenseUrl} class="text-inherit">{license}</a>. See <a
				href="/site/usage/"
				class="text-inherit">{usage}</a
			>.</small>
	</p>
	<p class="my-0 py-0">
		<small
			><em
				>Not affiliated in any way with <a href={affilGameUrl} class="text-inherit">{affilGame}</a> &copy;
				<a href={affilDevUrl} class="text-inherit">{affilDev}</a>. Images used for commentary only.</em
			></small>
	</p>
</footer>
